




.fondo{ background-color: #FCF7F6; }

.hidden{ display:none; }

.negro {
         background-color: black;    
}




#global {
    height: 600px;
    width: 200px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
}
#mensajes {
    height: auto;
}
.texto {
    padding:4px;
    background:#fff;
}



.imagen{

     width:300px; height: 400px;
}


input {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 50%;
}














